<div>
    <div *ngIf="loaded">
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <!--<button type="button" *ngIf="canManageProducts" (click)="delete()" [label]="'general.Delete' | translate"></button>-->
                </div>
        


        <form #editProductForm="ngForm">
            <div class="ui-g-12">
                <div class="ui-g-6">
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.name' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.name" name="name" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.email' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.email" name="email">
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.phoneNumber' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber">
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.address' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.address" name="address">
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.city' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.city" name="city">
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <label>{{'customers.management.gender' | translate}}</label>
                                <input type="text" [(ngModel)]="customer.gender" name="gender">
                            </div>
                        </div>

                    
                        <table class="ui-g-12">
                            <thead>
                                <tr>
                                    <th class="ui-g-4">{{'order.list.orderNumber' | translate}}</th>
                                    <th class="ui-g-4">{{'order.list.dateCreated' | translate}}</th>
                                    <th class="ui-g-4">{{'order.list.status' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of customer.orders">
                                    <td class="ui-g-4"><a [routerLink]="['/orders', order.id]">{{order.orderNumber}}</a></td>
                                    <td class="ui-g-4">{{order.dateCreated | date:'short' }}</td>
                                    <td class="ui-g-4">{{order.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </form>
    </div>
</div>