<div class="content-view">
    <div class="card">
        <div class="card-block">
            <div class="dataTables_wrapper">
                <button *ngIf="canViewAllProducts" type="button" class="ui-button-secondary" (click)="loadData()">
                    {{'general.Refresh' | translate}}
                </button>
                <button *ngIf="canViewAllProducts" type="button" class="ui-button-success" routerLink="create">
                    {{'customers.list.create' | translate}}
                </button>

                <table class="bordered striped">
                    <thead>
                        <tr>
                            <th>{{'products.list.name' | translate}}</th>
                            <th>{{'products.list.article' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of rows">
                            <td><strong>{{category.name}}</strong></td>
                            <td *ngIf="editing && editedCategory == category"><input [(ngModel)]="category.name" name="name" /></td>
                            <td>{{category.sequenceId}}</td>
                            <td>
                                <a *ngIf="!editing && editedCategory != category" href="javascript:;" (click)="edit(category);">Edit</a>
                                <a *ngIf="editing && editedCategory == category" href="javascript:;" (click)="save();">Save</a>
                                <a href="javascript:;" (click)="delete(category);">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
