<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a routerLink="/"><label> </label></a></li>
                    <li><a routerLink="/">24x7 live<span class="live"> support</span></a></li>
                </ul>
                <ul class="support">
                    <li class="van"><a routerLink="/"><label> </label></a></li>
                    <li><a routerLink="/">Free shipping <span class="live">on order over 500</span></a></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                <div class="down-top">
                    <select class="in-drop">
                        <option value="Ukraine" class="in-of">{{ 'Ukraine' | translate }}</option>
                        <option value="Russian" class="in-of">{{ 'Russian' | translate }}</option>
                    </select>
                </div>
                <!-- <div class="down-top top-down">
                    <select class="in-drop">
                        <option value="Dollar" class="in-of">{{ 'ViewAllProducts' | translate }}</option>
                        <option value="Yen" class="in-of">{{ 'ViewAllProducts' | translate }}</option>
                        <option value="Euro" class="in-of">{{ 'ViewAllProducts' | translate }}</option>
                    </select>
                </div> -->
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a routerLink="/"><img src="../../assets/images/logo.png" alt=" " /></a>
                </div>
                <div class="search">
                    <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                    <input type="submit" value="SEARCH">

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <!-- <div class="account"><a href="login.html"><span> </span>YOUR ACCOUNT</a></div>
                <ul class="login">
                    <li><a href="login.html"><span> </span>LOGIN</a></li> |
                    <li><a href="register.html">SIGNUP</a></li>
                </ul> -->
                <cart></cart>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>