<div class="card" *ngIf="canReadProducts">
  <div class="card-header">
    <button *ngIf="canReadProducts" (click)="loadData()" type="button" class="btn btn-seconday btn-icon">
      <i class="fa fa-refresh"></i><span>{{'Refresh' | translate}}</span>
    </button>
  </div>
  <div class="card-block">
    <div class="col-md-6">
      <div class="row">
        <input class="form-control" placeholder="{{'Search' | translate}}" #filter (keyup)="filterNodes(filter.value, tree)">
      </div>
      <tree-root #tree [nodes]="rows">
        <ng-template #treeNodeTemplate let-node>
          <span title="{{node.data.sequenceId}}">{{ node.data.name }} ({{ node.data.sequenceId }})</span>
          <div _ngcontent-c11="" class="btn-group">
            <button *ngIf="canCreateProducts && node.data.sequenceId.length <= 4" (click)="addNode(node.data)"
                    class="btn  btn-icon-icon btn-sm btn-success">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button *ngIf="canCreateProducts" (click)="editNode(node.data)"
                    class="btn  btn-icon-icon btn-sm btn-primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button *ngIf="canDeleteProducts" (click)="deleteNode(node.data)"
                    class="btn  btn-icon-icon btn-sm btn-danger">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
        </ng-template>
      </tree-root>
    </div>
  </div>
</div>
