<div class="row" *ngIf="canReadProducts">
    <spiner [active]="loadingIndicator"></spiner>

    <div class="row">
        <mz-input-container class="col s12">
            <i mz-icon-mdi mz-input-prefix [icon]="'magnify'"></i>
            <input mz-input [label]="'app.Search' | translate" type="text" (keyup)='updateFilter($event)'>
        </mz-input-container>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li *ngIf="canReadProducts"><a class="btn-floating red" (click)="loadData()"><i class="material-icons">refresh</i></a></li>
                <li *ngIf="canCreateProducts"><a class="btn-floating yellow darken-1" routerLink="create"><i class="material-icons">add</i></a></li>
                <li *ngIf="canCreateProducts"><a class="btn-floating green" (click)="export()"><i class="material-icons">publish</i></a></li>
            </ul>
        </div>
    </div>


    <table class="bordered striped">
        <thead>
            <tr>
                <th>{{'products.list.name' | translate}}</th>
                <th></th>
                <th>{{'products.list.article' | translate}}</th>
                <th>{{'products.list.price' | translate}}</th>
                <th>{{'products.list.unitsInStock' | translate}}</th>
                <th>{{'products.list.productCategoryName' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of rows | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }">
                <td><a href="javascript:;" (click)="select(product);"><strong> {{product.name}}</strong></a></td>
                <td>
                    <i *ngIf="!product.published" class="material-icons">visibility_off</i>
                    <i *ngIf="product.discount" class="material-icons">attach_money</i>
                </td>
                <td>{{product.article}}</td>
                <td>{{product.price}}</td>
                <td>{{product.unitsInStock}}</td>
                <td>{{product.productCategoryName}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <pagination-controls (pageChange)="pageChange($event)" maxSize="10" id="server"></pagination-controls>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
</div>