<div class="main-content" *ngIf="canReadOrders">
    <div class="sk-cube-grid" *ngIf="loadingIndicator">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>

    <div class="content-view">
        <div class="card">
            <div class="card-block">
                <button type="button" class="btn btn-secondary btn-icon" *ngIf="canReadOrders" (click)="loadData()">
                    <i class="material-icons">refresh</i><span>{{'general.Refresh' | translate}}</span>
                </button>

                <button type="button" class="btn btn-success btn-icon" *ngIf="canCreateOrders" routerLink="create">
                    <i class="material-icons">add</i><span>{{'order.list.create' | translate}}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="ui-widget-header  search" style="padding: 4px 10px; border-bottom: 0 none">
                        <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                        <input #gb type="text" pInputText size="50" placeholder="{{'app.Search' | translate}}">
                    </div>

                    <table class="table table-bordered table-striped m-b-0">
                        <thead>
                            <tr>
                                <th>{{'order.list.orderNumber' | translate}}</th>
                                <th>{{'order.list.dateCreated' | translate}}</th>
                                <th>{{'order.list.status' | translate}}</th>
                                <th>{{'order.list.counterpartyName' | translate}}</th>
                                <th>{{'order.list.counterpartyPhoneNumber' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rows">
                                <td><a (click)="edit(item.id)">{{item.orderNumber}}</a></td>
                                <td>{{item.dateCreated | date:'short'}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.counterpartyName}}</td>
                                <td>{{item.counterpartyPhoneNumber}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--<p-dataTable [value]="rows" [rows]="15" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[15,20,25]" selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="edit($event)" [contextMenu]="cm" [responsive]="true" [globalFilter]="gb" #dt>
                        <p-header>
                            <div class="ui-helper-clearfix" style="width: 100%">
                                <button *ngIf="canReadOrders" pButton type="button" style="float: left" class="ui-button-secondary" (click)="loadData()" icon="fa-refresh" [label]="'general.Refresh' | translate"></button>
                                <button *ngIf="canCreateOrders" pButton type="button" style="float: left" class="ui-button-success" routerLink="create" icon="fa-plus" [label]="'order.list.create' | translate"></button>
                            </div>
                        </p-header>
                        <p-column field="orderNumber" [header]="'order.list.orderNumber' | translate" [sortable]="true"></p-column>
                        <p-column field="dateCreated" [header]="'order.list.dateCreated' | translate" [sortable]="true">
                            <ng-template let-col let-row="rowData" pTemplate="body">
                                <span [style.color]="row[col.field]">{{row[col.field] | date:'short'}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="status" [header]="'order.list.status' | translate" [sortable]="true">
                            <ng-template let-col let-car="rowData" pTemplate="body">
                                <span [style.color]="car[col.field]">{{car[col.field]}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="customerName" [header]="'order.list.customerName' | translate" [sortable]="true"></p-column>
                        <p-column field="customerPhoneNumber" [header]="'order.list.customerPhoneNumber' | translate" [sortable]="true">
                        </p-column>
                    </p-dataTable>

                    <p-contextMenu #cm [model]="items"></p-contextMenu>-->
                </div>
            </div>
        </div>
    </div>
</div>