<div class="content-view" *ngIf="canReadOrders">
    <div class="card">
        <div class="card-block">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <button *ngIf="canReadOrders" type="button" class="btn btn-primary btn-icon" (click)="loadData();"><i class="material-icons">refresh</i>{{'general.Refresh' | translate}}</button>
                    </div>
                    <div class="col-md-6">
                        <div class="dataTables_filter">
                            <label>{{'app.Search' | translate}}:<input type="search" #gb pInputText class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0"></label>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-striped m-b-0">
                        <thead>
                            <tr>
                                <th>{{'shipment.list.shipmentNumber' | translate}}</th>
                                <th>{{'shipment.list.time' | translate}}</th>
                                <th>{{'shipment.list.conducted' | translate}}</th>
                                <th>{{'shipment.list.orderOrderNumber' | translate}}</th>
                                <th>{{'shipment.list.orderCustomerName' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of shipments">
                                <td><a (click)="edit(item.id)">{{item.shipmentNumber}}</a></td>
                                <td>{{item.time | date:'short'}}</td>
                                <td><span *ngIf="item.conducted" style="color: green; font-weight: bold;"> Проведено</span>
                                    <span *ngIf="!item.conducted" style="color: red; font-weight: bold;"><i class="fa fa-exclamation-triangle"></i> Не проведено</span></td>
                                <td>{{item.orderOrderNumber}}</td>
                                <td>{{item.orderCounterpartyName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>