<div class="form-horizontal">
    <div class="form-group">
        <label for="refreshButton" class="col-sm-3 control-label">{{'preferences.ReloadPreferences' | translate}} </label>
        <div class="col-sm-4">
            <button id="refreshButton" class="btn btn-default" (click)="reloadFromServer()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
        <div class="col-sm-5">
            <p class="form-control-static text-muted small">{{'preferences.ReloadPreferencesHint' | translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <select [(ngModel)]="configurations.language">
                <option value="en">{{'preferences.English' | translate}}</option>
                <option value="ru">{{'preferences.Russian' | translate}}</option>
                <option value="uk">{{'preferences.Ukraine' | translate}}</option>
            </select>
        </div>
        <div class="col-sm-5">
            <p class="form-control-static text-muted small">{{'preferences.LanguageHint' | translate}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="separator-hr" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="subseparator-hr" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="subseparator-hr" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">

        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <hr class="last-separator-hr" />
        </div>
    </div>
    <div class="control-box">
        <button type="button" (click)="resetDefault()" class="btn btn-success">
            <i class='fa fa-circle-o-notch'></i> {{'preferences.ResetDefault' | translate}}
        </button>

        <button type="button" (click)="setAsDefault()" class="btn btn-primary">
            <i class='fa fa-hdd-o'></i> {{'preferences.SetDefault' | translate}}
        </button>
    </div>
</div>