<div class="content-view">
    <div class="card">
        <div class="card-block">
            <div class="dataTables_wrapper">
                <button *ngIf="canViewAllProducts" type="button" class="ui-button-secondary" (click)="loadData()">
                    {{'general.Refresh' | translate}}
                </button>
                <button *ngIf="canViewAllProducts" type="button" class="ui-button-success" routerLink="create">
                    {{'customers.list.create' | translate}}
                </button>

                <table class="bordered striped">
                    <thead>
                    <tr>
                        <th>{{'products.list.name' | translate}}</th>
                        <th>{{'products.list.article' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let category of rows | paginate: { id: 'server', itemsPerPage: itemsPerPage, currentPage: page, totalItems: total }">
                        <td><a href="javascript:;" (click)="select(product);"><strong> {{category.name}}</strong></a>
                        </td>
                        <td>{{category.sequenceId}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col s12 m4 l2"></div>
                    <div class="col s12 m4 l8">
                        <pagination-controls (pageChange)="pageChange($event)" maxSize="10"
                                             id="server"></pagination-controls>
                    </div>
                    <div class="col s12 m4 l2"></div>
                </div>

            </div>
        </div>
    </div>
</div>