<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage" class="etalage" style="display: block; width: 302px; height: 535px;">
                <li class="etalage_thumb thumb_1 etalage_thumb_active" style="display: list-item; background-image: none; opacity: 1;">
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image" src="../../assets/images/s4.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
                        <img class="etalage_source_image" src="../../assets/images/si4.jpg" title="">
                    </a>
                </li>
                <li class="etalage_thumb thumb_2" style="background-image: none; display: none; opacity: 0;">
                    <img class="etalage_thumb_image" src="../../assets/images/s2.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
                    <img class="etalage_source_image" src="../../assets/images/si2.jpg" title="">
                </li>
                <li class="etalage_thumb thumb_3" style="background-image: none; display: none; opacity: 0;">
                    <img class="etalage_thumb_image" src="../../assets/images/s3.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
                    <img class="etalage_source_image" src="../../assets/images/si3.jpg">
                </li>
                <li class="etalage_thumb thumb_4" style="background-image: none; display: none; opacity: 0;">
                    <img class="etalage_thumb_image" src="../../assets/images/s1.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
                    <img class="etalage_source_image" src="../../assets/images/si1.jpg">
                </li>
                <li class="etalage_magnifier" style="margin: 0px; padding: 0px; left: 0px; top: 174px; display: none; opacity: 1;">
                    <div style="margin: 0px; padding: 0px; width: 195px; height: 174px;">
                        <img src="../../assets/images/s4.jpg" style="margin: 0px; padding: 0px; width: 300px; height: 400px; display: inline; left: 0px; top: -174px;">
                    </div>
                </li>
                <li class="etalage_icon" style="display: list-item; top: 278px; left: 20px; opacity: 1;">&nbsp;</li>
                <li class="etalage_hint" style="display: none; margin: 0px; top: -15px; right: -15px;">&nbsp;</li>
                <li class="etalage_zoom_area" style="margin: 0px; opacity: 0; left: 312px; display: none; background-image: none;">

                    <div class="etalage_description" style="width: 546px; bottom: 6px; left: 6px; opacity: 0.7; display: none;"></div>
                    <div style="width: 586px; height: 521px;">
                        <img class="etalage_zoom_img" src="../../assets/images/si4.jpg" style="width: 900px; height: 1200px; left: 0px; top: -520.955px;">
                    </div>
                </li>
                <li class="etalage_small_thumbs" style="width: 302px; top: 412px;">
                    <ul style="width: 724px;">
                        <li class="etalage_smallthumb_navtoend etalage_smallthumb_first" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s1.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                        <li class="etalage_smallthumb_active" style="opacity: 1; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s4.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                        <li class="etalage_smallthumb_last" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s2.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                        <li class="" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s3.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                        <li class="" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s1.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                        <li class="etalage_smallthumb_navtostart" style="opacity: 0.4; margin: 0px 10px 0px 0px; left: 0px;">
                            <img class="etalage_small_thumb" src="../../assets/images/s4.jpg" width="86" style="width: 86px; height: 115px;">
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">


            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
            <div class="cart-b">
                <div class="left-n ">$329.58</div>
                <a class="now-get get-cart-in" href="#">ADD TO CART</a>
                <div class="clearfix"></div>
            </div>
            <h6>100 items in stock</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
            <div class="share">
                <h5>Share Product :</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="../../assets/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="../../assets/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="../../assets/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="../../assets/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="nbs-flexisel-container">
        <div class="nbs-flexisel-inner">
            <ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -159.6px; display: block;">





                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi4.jpg"><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi.jpg"><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi1.jpg"><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi2.jpg"><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi3.jpg"><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi4.jpg"><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi.jpg"><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi1.jpg"><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi2.jpg"><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
                <li class="nbs-flexisel-item" style="width: 159.6px;"><img src="../../assets/images/pi3.jpg"><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
            </ul><div class="nbs-flexisel-nav-left" style="top: 127.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 127.5px;"></div>
        </div>
    </div>
   

    <div class="toogle">
        <h3 class="m_3">Product Details</h3>
        <p class="m_text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        </p>
    </div>
</div>