<div [@fadeInOut] class="content-view">
    <div class="card">
        <div class="card-block">
            <div class="dataTables_wrapper">
                <div class="ui-widget-header search" style="padding: 4px 10px; border-bottom: 0 none">
                    <i class="fa fa-search" style="margin: 4px 4px 0 0"></i>
                    <input #gb type="text" pInputText size="50" placeholder="{{'app.Search' | translate}}">
                </div>
                <table class="table table-bordered table-striped m-b-0">
                    <thead>
                        <tr>
                            <th>{{'activitylog.list.userFullName' | translate}}</th>
                            <th>{{'activitylog.list.timeStamp' | translate}}</th>
                            <th>{{'activitylog.list.type' | translate}}</th>
                            <th>{{'activitylog.list.remoteIp' | translate}}</th>
                            <th>{{'activitylog.list.httpRefer' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of activities">
                            <td><a (click)="edit(item.id)">{{item.userFullName}}</a></td>
                            <td>{{item.timeStamp | date:'short'}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.remoteIp}}</td>
                            <td>{{item.httpRefer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>