<div class=" single_top">
<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Назва товару</th>
            <th scope="col">Артикул</th>
            <th scope="col">Ціна за одиницю</th>
            <th scope="col">Кількість</th>
            <th scope="col">Сума</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <th scope="row">1</th>
            <td><a [routerLink]="['/product', item.product.id, 'details']">{{item.product.name}}</a></td>
            <td>{{item.product.article}}</td>
            <td>{{item.product.price}} грн.</td>
            <td>{{item.quantity}} шт.</td>
            <td>{{item.quantity * item.product.price}} грн.</td>
            <td><a (click)="deleteProduct(this.item.product)">Видалити</a></td>
          </tr>
        </tbody>
        <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Всього: {{numProducts}} товарів</th>
                  <th></th>
                  <th>До оплати: {{cartTotal}} грн.</th>
                </tr>
              </tfoot>
      </table>
</div>